<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
        <add key="Save" value="Ctrl+S"/>
        <add key="Load" value="Ctrl+L"/>
        <add key="Plugins" value ="Alt+P"/>
        <add key="Esc" value="Esc"/>
        <add key="pluginPath" value="/Data/Plugins"/>
    </appSettings>
</configuration>